* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.137);
    padding-block: 10px;
    height: 50px;
    animation: navAppear 0.5s;
}

nav > * {
    transition: flex-grow 2s;
}


body > nav :first-child {
    flex-grow: 0;
}

body > nav :nth-child(2){
    flex-grow: 0;
}

body > nav :last-child {
    flex-grow: 0;
}

body[data-theme="black"] > nav :first-child {
    flex-grow: 1;
}

body[data-theme="black"] > nav :nth-child(2){
    flex-grow: 3;
}

body[data-theme="black"] > nav :last-child {
    flex-grow: 1;
}

.links {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
}

.links > *{
    flex-grow: 0;
    transition: flex-grow 800ms;
}

body[data-theme="black"] .links > *{
    flex-grow: 1;
}

a {
    margin-inline: 15px;
    background-color: blueviolet;
}

@keyframes navAppear {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    20% {
        transform : scaleY(1);
    }
}

section {
    width: 50%;
    height: 50%;
    background: black;
    animation: appear 2s;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: opacity;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity : 0.5;
    }
    to {
        opacity: 1;
    }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: chocolate;
}

.circle {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    animation: rotateCircle 6s ease-in 0s infinite;
}

.circle::after {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 0;
    width: 10%;
    height: 10%;
    content: "";
    background-color: blue;
    border-radius: 50%;
}

.circle::before {
    position: absolute;
    top: 50%;
    transform: translate(50%,-50%);
    right: 0;
    width: 10%;
    height: 10%;
    content: "";
    background-color: blue;
    border-radius: 50%;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}