* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}

nav {
    display: flex;
    background: rgba(0, 0, 0, 0.137);
    padding-block: 10px;
    height: 50px;
    animation: navAppear 0.5s;
}

nav > * {
    transition: flex-grow 2s, flex-basis 800ms, flex-shrink 800ms, width 1s;
}


body > nav :first-child {
    flex-grow: 0;
}

body > nav :nth-child(2){
    flex-grow: 0;
}

body > nav :last-child {
    flex-grow: 0;
}

body[data-theme="black"] > nav :first-child {
    flex-grow: 1;
}

body[data-theme="black"] > nav :nth-child(2){
    flex-grow: 3;
}

body[data-theme="black"] > nav :last-child {
    flex-grow: 1;
}

.links {
    background-color: brown;
}

a {
    margin-inline: 15px;
    background-color: blueviolet;
}

@keyframes navAppear {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    20% {
        transform : scaleY(1);
    }
}

section {
    width: 50%;
    height: 50%;
    background: black;
    animation: appear 2s;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: opacity;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity : 0.5;
    }
    to {
        opacity: 1;
    }
}
